@keyframes bgmove{
  0% {
    background-size: 200%, 200%, 200%, 200%, 200%, 200%, 200%, 200%, 200%;
  }
  10% {
    background-size: 100%, 200%, 200%, 200%, 200%, 200%, 200%, 200%, 200%;
  }
  20% {
    background-size: 100%, 100%, 200%, 200%, 200%, 200%, 200%, 200%, 200%;
  }
  30% {
    background-size: 100%, 100%, 100%, 200%, 200%, 200%, 200%, 200%, 200%;
  }
  40% {
    background-size: 100%, 100%, 100%, 100%, 200%, 200%, 200%, 200%, 200%;
  }
  50% {
    background-size: 100%, 100%, 100%, 100%, 100%, 200%, 200%, 200%, 200%;
  }
  60% {
    background-size: 100%, 100%, 100%, 100%, 100%, 100%, 200%, 200%, 200%;
  }

  70% {
    background-size: 100%, 100%, 100%, 100%, 100%, 100%, 100%, 200%, 200%;
  }
  80% {
    background-size: 100%, 100%, 100%, 100%, 100%, 100%, 100%, 100%, 200%;
  }
  90% {
    background-size: 100%, 100%, 100%, 100%, 100%, 100%, 100%, 100%, 100%;
  }
  100% {
    background-size: 100%, 100%, 100%, 100%, 100%, 100%, 100%, 100%, 100%;
  }
}

html, body {
  height:100%;
  width: 100%;
  margin:0;
  height: 100%;
  font-family: 'Noto Serif', serif;
  font-size: 25px;
  color: #dfff82;
  background-color:#d7d7d7;
  background-image:url("9.png"),url("8.png"),url("7.png"),url("6.png"),url("5.png"),url("5.png"),url("4.png"),url("3.png"),url("2.png"),url("1.png");
  background-size: 100%, 100%, 100%;
  background-position:center;
  background-repeat: no-repeat;
  animation: bgmove 5s;
}




.svg {
  position: relative;
  z-index: 990;
}

.coffee {
  position: absolute;
  top: 10vw;
  left:5vw;
}

.work {
  position: absolute;
  top: 2vw;
  left:37vw;
}

.cafe {
  position: absolute;
  top: 36vw;
  left:2vw;
}

.food {
  position: absolute;
  top: 31vw;
  left:38vw;
}


.selfie {
  position: absolute;
  top: 6vw;
  left:72vw;
}

.funwork {
  position: absolute;
  top: 26vw;
  left:71vw;
}

.night {
  position: absolute;
  top: 2vw;
  left:16vw;
}

.meyerhoff {
  position: absolute;
  top: 16vw;
  left:57vw;
}

.banana {
  position: absolute;
  top: 41vw;
  left:37vw;
}

.street {
  position: absolute;
  top: 31vw;
  left:61vw;
}

.leake {
  position: absolute;
  top: 16vw;
  left:20vw;
}

.shower {
  position: absolute;
  top: 36vw;
  left:9vw;
}

@keyframes duck {
  from {
  transform: translateY(200px);
  opacity: 0;

}

to {
  transform: translateY(0px);
  opacity: 1;
}
}

.cls-1 {
  animation-name: duck;
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

#w .cls-1 {
  animation-delay: 600ms;

}

#e .cls-1 {
  animation-delay: 800ms;

}

#d .cls-1 {
  animation-delay: 1000ms;

}

#n .cls-1 {
  animation-delay: 1200ms;

}

#e-2 .cls-1 {
  animation-delay: 1400ms;

}

#s .cls-1 {
  animation-delay: 1600ms;

}

#d-2 .cls-1 {
  animation-delay: 1800ms;

}

#a .cls-1 {
  animation-delay: 2000ms;

}

#y .cls-1 {
  animation-delay: 2200ms;

}


@keyframes scale {
  from {
  transform: scale(1,1);
  opacity: 0;

}

to {
  transform: scale(1,0);
  opacity: 1;
}
}

img.show {
  opacity: 1;


}

img {
  opacity: 0;
  position: relative;
  transition: 500ms;
}

img:hover {
  z-index: 990;
}

svg.inactive {
  pointer-events: none;
}

.workstudy {
position: absolute;
top: -134vw;
left:37vw;
}


.lunch {
  position: absolute;
  top: -107vw;
  left:38vw;
}

.trash {
  position: absolute;
  top: -88vw;
  left:45vw;
}

.full{
  position: absolute;
  top: 31vw;
  left:48vw;
}

.jamie{
  position: absolute;
  top: 8vw;
  left:52vw;
}

.meyerhofff {
  position: absolute;
  top: 18vw;
  left:38vw;
}

.bananaa{
  position: absolute;
  top: -59vw  ;
  left:-84vw;
}

.nightt{
  position: absolute;
  top: 43vw;
  left:38vw;
}

.way{
  position: absolute;
  top: 21vw;
  left:68vw;
}

.art{
  position: absolute;
  top: 21vw;
  left:78vw;
}

.leakee{
  position: absolute;
  top: 41vw;
  left:60vw;
}

.showerr{
    position: absolute;
  top: -217vw;
  left:-93vw;
}
